<body class="bkg">
	<div class="row">
	
		<div class="col s3 offset-s4 center-align">
			<img src="assets/images/team.png" width="150" style="margin-top: 5%; margin-left: 18%;">
		</div>
		
	</div>

	<div class="row">
		
		<div class="col s3 offset-s4 center-align" style="margin-top: -3%;">
			<p  style="color: #036ba2; font-size: 33px; margin-left: 18%;">{{teamName  | titlecase}}</p>
		</div>
	</div>	

	<div class="row">
		<div class="col s3 offset-s4 center-align">
			<img src="assets/images/captain.png" width="100" style="margin-left: 18%;">
		</div>
	</div>
	<div class="row" style="margin-top: -5%;">
		<div class="col s3 offset-s4 center-align">
			<p id="7" style="color: #036ba2; font-size: 30px; margin-left: 18%;">{{captainName  | titlecase}}</p>
		</div>
	</div>

	<div>
			<div class="row">
				<div class="col s1 offset-s1" *ngIf="mems4"></div>
				<div class="col s1 offset-s2" *ngIf="mems3"></div>
				<div class="col s1 offset-s3" *ngIf="mems2"></div>
				<div class="col s1 offset-s4" *ngIf="mems1"></div>
				<div class="col s2 center-align"  *ngFor="let teamMem of tempMembers">
					<img src="assets/images/player.png"  id="1" width="140"> 
				</div>
			</div>	
	
			<div class="row">
					<div class="col s1 offset-s1" *ngIf="mems4"></div>
					<div class="col s1 offset-s2" *ngIf="mems3"></div>
					<div class="col s1 offset-s3" *ngIf="mems2"></div>
					<div class="col s1 offset-s4" *ngIf="mems1"></div>
					<div class="col s2 center-align"  *ngFor="let teamMem of tempMembers"  style="margin-top: -2%;">
							<p style="color: #036ba2; font-size: 18px;">{{teamMem.firstName | titlecase }}</p>
					</div>
				</div>	
		</div>
	

	<div class="row">
			<div class="col s1 offset-s10" style="position:absolute; bottom:0;">
				<button (click)="done()" style="width: 100px; background: #ffffff; border: 2px solid #0e425a; color:#0e425a; border-radius: 6px; height: 38px; font-size: 17px; margin-bottom: 25% !important;">Done</button>
				  
			</div>
	</div>


	<div id="modal1" class="modal accountModal">
		<div class="modal-content">
			
			  <p style="font-size: 35px; margin-top: 15%; line-height: 10px; color: #0e425a;" class="center-align">
				  Get <b>10 points</b> instantly
			  </p>

			  <p style="font-size: 35px; line-height: 10px; color: #0e425a;" class="center-align">
				to enhance your chances of 
			 </p>

			 <p style="font-size: 35px; line-height: 10px; color: #0e425a;" class="center-align">
					winning!
			</p>

			<p style="text-align: right; color: #0e425a; font-size: 20px; margin-right: 20%;" >
				#SwipeRewards
			</p>

			<div style="float: right; margin-top: 8%;  margin-bottom: 5%;">
					<button (click)="exit()" style="width: 100px; background: #ffffff; border: 2px solid #0e425a; color:#0e425a; border-radius: 6px; height: 38px; font-size: 20px;">Exit</button>
			</div>

		</div>
	</div>
	<div id="modal1" class="modal loaderModal" >
		<div class="center-align" style="margin-top: 40%;">
				<div class="progress">
						<div class="indeterminate"></div>
					</div>
		</div>
	</div>		
		


</body>