

	i.small {
    font-size: 3rem !important;
	}

	.accountModal{
		background-image: url("/assets/images/modalbg.png");
		width: 45% !important;
		top: 27%  !important;
	}

	body .bkg{
		display: flex;
		min-height: 100vh;
	}
	
	.bkg {
		top: 0;
		background: #0e425a;
		background-image: url("/assets/images/whitebg.png");
		height: 100vh !important;
		width: 100vw !important;
		margin: 0;
		background-position: center !important;
  		background-repeat: no-repeat;
		font-family: Calibri;
  		background-size: cover !important;
  		overflow-x:hidden !important;

  	}
  	
  	table#name tr,td{
  		padding: 0px;
	  }	
	  
	  .loaderModal{
		  background: transparent;
		  box-shadow: none!important;
	  }

