<body class="bkg">
	<div class="row">
		<div class="col s3" style="font-size: 50px; color: #0e425a; margin-left: 3%; margin-top: 2%;">
			Who's
		</div>
		<div class="col s3 offset-s1 center-align">
			<img src="assets/images/team.png" width="150" style="margin-top: 5%;">
		</div>
		<div class="col s1 offset-s3">
			<p>
				<button type="button" style="color: #0e425a; background: transparent; border: none; float: right;" (click)="signout()">
					<i class="small material-icons">close</i>
				</button>
			</p>
			  
		</div>
	</div>

	<div class="row">
		<div class="col s3" style="font-size: 50px; color: #0e425a; margin-left: 3%; margin-top: -4%;">
			on your team?
		</div>
		<div class="col s3 offset-s1 center-align" style="margin-top: -3%;">
			<p  style="color: #036ba2; font-size: 33px; ">{{teamName  | titlecase}}</p>
		</div>
	</div>	
 
	<div class="row">
		<div class="col s3 offset-s4 center-align">
			<img src="assets/images/captain.png" width="100" style="margin-left: 18%;">
		</div>
	</div>
	<div class="row" style="margin-top: -5%;">
		<div class="col s3 offset-s4 center-align">
			<p id="7" style="color: #036ba2; font-size: 30px; margin-left: 18%;">{{captain  | titlecase}}</p>
		</div>
	</div>

	<div>
			<div class="row">
				<div class="col s1 offset-s1" *ngIf="mems4"></div>
				<div class="col s1 offset-s2" *ngIf="mems3"></div>
				<div class="col s1 offset-s3" *ngIf="mems2"></div>
				<div class="col s1 offset-s4" *ngIf="mems1"></div>
				<div class="col s2 center-align"  *ngFor="let teamMem of tempMembers">
					<img src="assets/images/player.png"  id="1" width="140"> 
				</div>
			</div>	
		<div style="margin-top: -1%;">
			<div class="row">
						<div class="col s1 offset-s1" *ngIf="mems4"></div>
						<div class="col s1 offset-s2" *ngIf="mems3"></div>
						<div class="col s1 offset-s3" *ngIf="mems2"></div>
						<div class="col s1 offset-s4" *ngIf="mems1"></div>
						<div class="col s2 center-align"  *ngFor="let teamMem of tempMembers" style="margin-top: -2%;">
								<p style="color: #036ba2; font-size: 18px;">{{teamMem.firstName | titlecase }}</p>
						</div>
			</div>	
		</div>
			
	</div>
<div id="modal1" class="modal loaderModal" >
	<div class="center-align" style="margin-top: 40%;">
		<div class="progress">
			<div class="indeterminate"></div>
		</div>
	</div>
</div>





</body>