body .bkg{
	display: flex;
	min-height: 100vh;
}
.accountModal{
	background-image: url("/assets/images/modalbg.png");
}

.bkg {
	top: 0;
	background: #0e425a;
	background-image: url("/assets/images/bg.png");
	height: 100vh !important;
	width: 100vw !important;
	margin: 0;
	background-position: center !important;
		background-repeat: no-repeat;
	font-family: Calibri;
		background-size: cover !important;
		overflow-x:hidden !important;

}
.notice{
	background-color: #fff;
	height: 80%;
	color: #000;

}
.links{
	float: right;
	margin: 0px;
}
ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	 
	}

	li {
		float: right;
		margin-right: 3%;
		margin-top: 2%;
	}

	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

table#afcon tr,td{
		padding: 0px !important;
		margin: 0px !important;
		padding-top: -5% important;
		border: none;

	}
	table#afcon{
		border: none;
	}

	table#sap tr,td{
		padding: 0px;
		border: none;

	}
	table#sap{
		margin: 10px;
	}

	table#tabtim tr,td{
		padding: 0px;
		margin: 0px;
		border: none !important;
	}

	table#tabtim{
		width: 100% !important;
		border: none !important;
	}

	.time{
		background-image: url("/assets/images/timer.png");
		background-repeat: no-repeat;
		height: 100% !important;
		background-size: auto !important;
	}