<body class="bkg">
	<div class="row">
        <div class="col s3">
            <img src="assets/images/afcon.png" width="60" style="margin-top: 4%;">
        </div>
        <div class="col s5 offset-s4">
            <ul>
                <li>
                    <button type="button" (click)="signup()" style="border:1px solid #0e425a; background: #fff; width: 85px !important; height: 32px; color: #0e425a; border-radius: 6px;">Sign Up</button>
                </li>
                <li>
                    <button type="button" style="border:1px solid #fff; background: transparent; width: 85px !important; height: 32px; color: #fff; border-radius: 6px;">Sign In</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="row" style="margin-top: -1%;">
        <div class="col s4 offset-s4">
            <p style="text-align: right; color: #fff; font-size: 45px; margin: 0px !important; padding: 0px !important; line-height: 0 !important;">Stanbic</p>
            <p style="text-align: right; color: #fff; font-size: 150px; margin: 0px !important; padding: 0px !important; line-height: 1 !important; text-shadow: 1px 5px 3px #1F1F1F;">afcon</p>
                <p style="text-align: right; color: #fff; font-size: 30px; margin: 0px !important; padding: 0px !important; line-height: 0 !important;">#SwipeRewards</p>
        </div>
    </div>  

    <div class="row" style="margin-top: 5%;">
        <div class="col s4 offset-s4" style="color: #fff">
            Starting in
            <table  id="tabtim">
                    <tr>
                        <td colspan="1" style="width: 9% !important;">
                            <div class="time" id="d1" style=" font-size: 35px; padding-top: 7px; padding-bottom: 20px; color: #0e425a; padding-left: 15px;">
                                0
                            </div>
                        </td>
                        <td colspan="1"  style="width: 9% !important;">
                            <div class="time" id="d2" style=" font-size: 35px; padding-top: 7px; padding-bottom: 20px; color: #0e425a; padding-left: 15px;" >
                                0
                            </div>
                        </td>
                        <td class="center-align" style="width: 5% !important;">
                            <img src="assets/images/dot.png">
                        </td>
                        <td style="width: 9% !important;">
                            <div class="time" id="h1" style=" font-size: 35px; padding-top: 7px; padding-bottom: 20px; color: #2f8100; padding-left: 15px;">
                                0
                            </div>
                        </td>
                        <td style="width: 9% !important;">
                            <div class="time" id="h2" style=" font-size: 35px; padding-top: 7px; padding-bottom: 20px; color: #2f8100; padding-left: 15px;">
                                0
                            </div>
                        </td>
                        <td class="center-align"  style="width: 4% !important;">
                            <img src="assets/images/dot.png">
                        </td>
                        <td  style="width: 9% !important;">
                            <div class="time" id="m1" style=" font-size: 35px; padding-top: 7px; padding-bottom: 20px;color: #d1ab01; padding-left: 15px;">
                                0
                            </div>
                        </td>
                        <td  style="width: 9% !important;">
                            <div class="time" id="m2" style=" font-size: 35px; padding-top: 7px; padding-bottom: 20px; color: #d1ab01; padding-left: 15px;">
                                0
                            </div>
                        </td>
                        <td class="center-align"  style="width: 4% !important;">
                            <img src="assets/images/dot.png">
                        </td>
                        <td  style="width: 9% !important;">
                            <div class="time" id="s1" style=" font-size: 35px; padding-top: 7px; padding-bottom: 20px; color: #de2626; padding-left: 15px;">
                                0
                            </div>
                        </td>
                        <td  style="width: 9% !important;">
                            <div class="time" id="s2" style=" font-size: 35px; padding-top: 7px; padding-bottom: 20px; color: #de2626; padding-left: 15px;">
                                0
                            </div>
                        </td>
                    </tr>
                    <tr style="margin-top: -2% !important">
                        <td colspan="2" style="width: 9% !important; text-align: center;">
                            days
                        </td>
                        <td class="center-align" style="width: 5% !important;"> </td>
                        <td colspan="2" style="width: 9% !important; text-align: center;">
                            hours
                        </td>
                        <td class="center-align" style="width: 5% !important;"> </td>
                        <td colspan="2" style="width: 9% !important; text-align: center;">
                            minutes
                        </td>
                        <td class="center-align" style="width: 5% !important;"> </td>
                        <td colspan="2" style="width: 9% !important; text-align: center;">
                            seconds
                        </td>
                    </tr>   
            </table>
            
        </div>
    </div>

    <div class="row">
        <div class="col s3"  style="position:absolute; bottom:0;">
            <img src="assets/images/visa.png" width="100" >
        </div>
        <div class="col s4 offset-s4"  style="position:absolute; bottom:0; color:#FFFFFF; font-size: 20px;">
            <table id="sap">
                <tr>
                    <td>Sign In:</td>
                    <td><input id="email_inline" style="font-size: 25px !important;" class="validate accFormatter" (blur)="checkData1()" [(ngModel)]="formInfo.accountNumber" maxlength="16"></td>
                    <td>
                        <button type="button" *ngIf="!loading" (click)="getInfo()" style="background: transparent; border: none;">
                                <i class="small material-icons" style="color: #fff;">search</i>
                        </button>
                        <div class="col s12 center-align" style="margin-top: 10px !important;" *ngIf="loading">
                                <div class="preloader-wrapper small active">
                                    <div class="spinner-layer spinner-stanbic-only">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="gap-patch">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td style="font-size: 15px;">Kindly sign in with your Account Number to manage your team.</td>
                </tr>

            </table>        
        </div>
    </div>  

</body>
