<body class="bkg">
	<div class="row">
		<div class="col s3" style="font-size: 50px; color: #0e425a; margin-left: 3%; margin-top: 2%;">
			Who's
		</div>
		<div class="col s3 offset-s1 center-align">
			<img src="assets/images/team.png" width="150" style="margin-top: 5%;">
		</div>
		
	</div>

	<div class="row">
		<div class="col s3" style="font-size: 50px; color: #0e425a; margin-left: 3%; margin-top: -4%;">
			on your team?
		</div>
		<div class="col s3 offset-s1 center-align" style="margin-top: -3%;">
			<p  style="color: #036ba2; font-size: 33px; ">{{teamName  | titlecase}}</p>
		</div>
	</div>	

	<div class="row">
		<div class="col s3 offset-s4 center-align">
			<img src="assets/images/captain.png" width="100" style="margin-left: 18%;">
		</div>
	</div>
	<div class="row" style="margin-top: -5%;">
		<div class="col s3 offset-s4 center-align">
			<p id="7" style="color: #036ba2; font-size: 30px; margin-left: 18%;">{{captainName  | titlecase}}</p>
		</div>
	</div>

	<div class="row" style="margin-top: 2%;" *ngIf="!duser">
		<div class="col s3 offset-s4 center-align">
			<img src="assets/images/player.png" width="120" style="margin-left: 18%;">
		</div>
	</div>
	<div class="row" style="margin-top: -2%;" *ngIf="!duser" id="adduser">
		<div class="col s3 offset-s4 center-align">
			<img src="assets/images/add.png" class="zoom" (click)="add()" style="margin-left: 18%;">
		</div>
	</div>

	<div class="row" >
			<div class="col s2 offset-s2 center-align" *ngIf="duser">
				<img src="assets/images/editplayer.png"  (click)="account($event)" class="zoom" id="1" width="130"> 
			</div>
			<div class="col s2 center-align" *ngIf="duser2">
				<img src="assets/images/editplayer.png" (click)="account($event)" class="zoom" id="2"  width="130">
			</div>
			<div class="col s2 center-align" *ngIf="duser3">
				<img src="assets/images/editplayer.png" (click)="account($event)" class="zoom" id="3"  width="130">
			</div>
			<div class="col s2 center-align" *ngIf="duser4">
				<img src="assets/images/editplayer.png" (click)="account($event)" class="zoom" id="4"  width="130">
			</div>
			<div class="col s2 center-align" *ngIf="addsign" style="margin-left: -8%;">
				<img src="assets/images/add.png" class="zoom" (click)="add()" style="margin-left: 18%;">
			</div>
		</div>

		<div class="row">
			<div class="col s2 offset-s2 center-align" *ngIf="duser" style="margin-top: -2%;">
				<p style="color: #036ba2; font-size: 18px;">{{user1 | titlecase}}</p>
			</div>
			<div class="col s2 center-align" *ngIf="duser2" style="margin-top: -2%;">
				<p style="color: #036ba2; font-size: 18px;">{{user2 | titlecase}}</p>
			</div>
			<div class="col s2 center-align" *ngIf="duser3" style="margin-top: -2%;">
				<p style="color: #036ba2; font-size: 18px;">{{user3 | titlecase}}</p>
			</div>
			<div class="col s2 center-align" *ngIf="duser4" style="margin-top: -2%;">
				<p style="color: #036ba2; font-size: 18px;">{{user4 | titlecase}}</p>
			</div>
			
		</div>

	<div class="row">
			<div class="col s1 offset-s10" style="position:absolute; bottom:0;">
				<button (click)="done()" style="width: 100px; background: transparent; border: 2px solid #0e425a; color:#0e425a; border-radius: 6px; height: 38px; font-size: 17px; margin-bottom: 10%;">Confirm</button>
				  
			</div>
	</div>


		

	<div id="modal1" class="modal accountModal">
		    <div class="modal-content">
		    	<div style="float: right;">
		    		<button class="modal-close" type="button" style="color: #0e425a; background: transparent; border: none; float: right;">
						<i class="small material-icons" style="">close</i>
					</button>
		    	</div>
		    	<div style="text-align: center; color: #0e425a; font-size: 22px;">
		    		Add Team Member
		    	</div>
		    	<div class="row" style="margin-top: 8%;">			    	
		    		<div class="col s3 offset-s1">
			    		<p style="text-align: left; color: #0e425a; font-size: 20px;">Account Number: </p>
			    	</div>
			    	<div class="col s6">
			    		<input class="validate accFormatter" (blur)="checkData1()" style="font-size: 20px;" [(ngModel)]="formData.accountNumber" maxlength="16">
			    	</div>
			    	<div class="col s1">
			    		<button (click)="addName()" *ngIf="!loading" type="button"  style="background: transparent; border: none;">
                                <i class="small material-icons" style="color: #0e425a;">search</i>
                        </button>
                        <div class="col s12 center-align" style="margin-top: 10px !important;" *ngIf="loading">
								<div class="preloader-wrapper small active">
									<div class="spinner-layer spinner-stanbic-only">
										<div class="circle-clipper left">
											<div class="circle"></div>
										</div>
										<div class="gap-patch">
											<div class="circle"></div>
										</div>
										<div class="circle-clipper right">
											<div class="circle"></div>
										</div>
									</div>
								</div>
						</div>
			    	</div>
		    	</div>

		    	<div class="row" *ngIf="details">			    	
		    		<div class="col s3 offset-s1">
			    		<p style="text-align: left; color: #0e425a; font-size: 20px;">
			    			Member Name:
			    		</p>
			    	</div>
			    	<div class="col s4">
			    		<p style="text-align: left; color: #0e425a; font-size: 20px;">{{accountName  | titlecase}}</p>
			    	</div>
			    	
		    	</div>

		    	<div style="float: right; margin:5%;" *ngIf="details">
		    		<button (click)="addMember()" *ngIf="!loader" style="width: 100px; background: transparent; border: 2px solid #0e425a; color:#0e425a; border-radius: 6px; height: 38px; font-size: 17px;">Add</button>
		    		<div class="col s12 center-align" style="margin-top: 10px !important;" *ngIf="loader">
								<div class="preloader-wrapper small active">
									<div class="spinner-layer spinner-stanbic-only">
										<div class="circle-clipper left">
											<div class="circle"></div>
										</div>
										<div class="gap-patch">
											<div class="circle"></div>
										</div>
										<div class="circle-clipper right">
											<div class="circle"></div>
										</div>
									</div>
								</div>
							</div>
		    	</div>

		    	
		    </div>
		  
  		</div>



</body>